<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 通知权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <!-- 添加相机相关的查询 -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>
    </queries>

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Android 13+ 图片权限 -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />

    <!-- 悬浮窗权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 读取设备状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_CLIPBOARD_IN_BACKGROUND"
        tools:ignore="ProtectedPermissions" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/app_icon_main"
        android:roundIcon="@mipmap/app_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Poop"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/app_icon_main"
            android:roundIcon="@mipmap/app_icon_round"
            android:theme="@style/Theme.Poop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screens.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Poop"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".ui.screens.widgets.BeautySentenceWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_info" />
        </receiver>
    </application>

</manifest>